#chat-history {
    height: 65vh;
    width: 100%;
    padding-top: 15px;
    overflow-y: auto;
}

#chat-form {
    height: 15vh;
}

.msg {
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
}

.timeSpan {
    color: #888;
    padding-right: 5px;
}

.usernameSpan {
    font-weight: 700;
    color: rgb(61, 109, 82);
}